<div class="h-screen flex items-center justify-center">
  <div class="flex justify-center w-1/2 border-2 rounded-lg">
    <div>
      <div class="h-fit p-1">
        <p class="font-bold text-3xl">Create your account</p>
      </div>
      <form>
        <div class="flex justify-center p-2">
          <p class="text-3xl font-bold">Login</p>
        </div>
        <div class="flex flex-col">
          <label class="pl-1" for="uname"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="uname" required />

          <label class="pl-1" for="uname"><b>Surname</b></label>
          <input
            type="text"
            placeholder="Enter Surname"
            name="uname"
            required
          />

          <label class="pl-1" for="uname"><b>Gender</b></label>
          <input type="text" placeholder="Enter Gender" name="uname" required />

          <label class="pl-1" for="uname"><b>Age</b></label>
          <input type="text" placeholder="Enter Age" name="uname" required />

          <label class="pl-1" for="uname"><b>Date of birth</b></label>
          <input
            type="text"
            placeholder="Enter Date of birth"
            name="uname"
            required
          />

          <label class="pl-1" for="uname"><b>Marital status</b></label>
          <input
            type="text"
            placeholder="Enter Marital status"
            name="uname"
            required
          />

          <label class="pl-1" for="psw"><b>Nationality</b></label>
          <input
            type="text"
            placeholder="Enter Nationality"
            name="psw"
            required
          />

          <div class="mt-3">
            <button class="btn btn-blue" type="submit">submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
