<div class="h-screen flex justify-center items-center">
  <div class="w-80 rounded-lg border-2 p-2">
    <div class="flex justify-center w-full">
      <span class="text-3xl">Profile</span>
    </div>
    <div class="p-2">
      <div class="self-end flex flex-col items-start">
        <img
          class="h-24 w-auto lg:block bg-slate-300 border-2 cursor-pointer"
          src="../../assets/avatar.png"
          alt=""
          (click)="addImage()"
        />
        <div class="m-2 flex flex-col">
          <span class="font-bold text-lg"> Name:<span class="text-base font-light ml-2">David Uwamahoro</span>  </span>
          <span class="font-bold text-lg"> Gender:<span class="text-base font-light ml-2">Male </span></span>
          <span class="font-bold text-lg"> Date of Birth:<span class="text-base font-light ml-2"> 05/07/1993 </span></span>
          <span class="font-bold text-lg"> Marital status:<span class="text-base font-light ml-2"> single </span></span>
          <span class="font-bold text-lg"> National Id:<span class="text-base font-light ml-2">1199380000000000 </span></span>
          <span class="font-bold text-lg"> Nationality:<span class="text-base font-light ml-2"> Rwandan </span></span>
        </div>
      </div>
    </div>
  </div>
</div>
