<div class="h-screen">
  <header class="h-fit w-full">
    <div class="w-full">
      <div class="flex h-16 bg-blue-400 items-center px-10">
        <div class="self-end flex flex-col items-center">
          <img
            class="h-8 w-auto lg:block rounded-full"
            src="../../assets/avatar.png"
            alt=""
          />
          <a
        class="font-light cursor-pointer"
        (click)="logout()"
        target="_parent"
        >Logout</a
      >
        </div>
      </div>
    </div>
  </header>
  <main class="flex justify-center mb-auto mt-5">
    <div class="flex">
      <span class="text-xl">Welcome to company Z</span>
    </div>
  </main>
</div>
