<div class="h-screen flex justify-center items-center">
  <div class="w-80 rounded-lg border-2 p-2">
    <form>
      <div class="flex justify-center pt-2">
        <p class="text-3xl font-bold">Reset password</p>
      </div>
      <div class="container rounded">
        <p class="text-sm font-light justify-center">
          Forgot password? please enter your email and submit!
        </p>
        <label class="pl-1" for="psw"><b>Email</b></label>
        <input
          #email
          (keyup)="setEmail(email.value)"
          type="text"
          placeholder="Enter your email"
          class="form-control"
          name="psw"
          id="psw"
          minlength="8"
          required
        />
        <div class="mt-3">
          <label class="pl-1 text-red-500 text-xs" for="psw"
            ><b>{{ message }}</b></label
          >
          <button class="btn btn-blue min-w-full text-white" type="submit" (click)="onSubmit()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
